<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width", initial-scale="X-UA-Compatible">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Video Blog</title>
</head>
<body>
	<header class="container center-align">
		<h1>Media Blog</h1>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
		<br>
		<a clas="center-align" href="/admin">Admin Login</a>
		</br>
	</div>
</body>
</html>

